.titulo {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 2rem;
  line-height: 40px;
  color: var(--titulos);
}

.subTitulo {
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 28px;
}

.texto {
  font-family: 'Roboto', sans-serif;
  color: var(--texto-corpo);
  font-size: 1rem;
  line-height: 24px;
  letter-spacing: 0.5px;
}

.cardsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1160px;
  gap: 32px;
  padding: 40px 0px;
  margin: 0 auto;
}

.cardItinerarios {
  background: var(--iniciacao);
  display: flex;
  align-items: center;
  padding: 12px 28px;
  gap: 20px;
  border-radius: 10px;
}