.titulo {
  font-family: 'Roboto', sans-serif;
  color: var(--titulos);
  font-weight: 500;
  font-size: 2rem;
  line-height: 40px;
  margin: 0;
}

.subTitulo {
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 28px;
  margin: 0;
}

.texto {
  font-family: 'Roboto', sans-serif;
  color: var(--texto-corpo);
  font-size: 1rem;
  line-height: 24px;
  letter-spacing: 0.5px;
  margin: 0;
}

.botaoTexto,  .botaoItinerario{
  font-family: 'Roboto', sans-serif;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 0.875rem;
  letter-spacing: 0.1px;
  text-transform: uppercase;
}

.cardsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1160px;
  gap: 32px;
  padding: 40px 0px;
  margin: 0 auto;
}

.cardItinerarios {
  background: var(--iniciacao);
  display: flex;
  align-items: center;
  padding: 12px 28px;
  gap: 20px;
  border-radius: 10px;
}

.itinerarioContainer {
  position: relative;
  display: flex;
  max-width: 1160px;
  margin: 0 auto;
  padding: 0 20px;
  flex-direction: row-reverse;
  justify-content: center;
  gap: 24px;
}

.botaoItinerario {
  padding: 14px 28px;
  border-style: none;
  border-radius: 10px;
}