.containerTitle {
  background: rgb(226, 252, 255);
  /* background: linear-gradient(180deg, rgba(226, 252, 255, 1) 42%, rgba(38, 147, 170, 0) 100%); */
  background: linear-gradient(180deg, #E2FCFF 0%, rgba(231, 244, 251, 0) 100%);
}

.containerTitle .texts {
  text-align: center;
  padding-top: 80px;
  padding-bottom: 120px;
}