.ant-form-item-label {
  padding-bottom: 4px !important;
}

.headerFilter {
  background: var(--bg-azul);
  padding: 12px 16px;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
}



/* .ant-radio-button.ant-radio-button-checked {
  background: var(--bg-azul);
  border-color: #FFF;
} */