/* You can add global styles to this file, and also import other style files */
@import '~antd/dist/antd.less';

@body-background: #f2f2f2;
@layout-body-background: #f8f8f8;
@layout-header-background: #eeeeee;
@layout-sider-background: @body-background;
@menu-light-background: @body-background;

// Default ant design variales ->>> https://github.com/ant-design/ant-design/blob/master/components/style/themes/default.less
// -------- Colors -----------
@primary-color: #1890FF;
@info-color: #1890ff;
@success-color: #52c41a;
@processing-color: #1890ff;
@error-color: #f5222d;
@highlight-color: #f5222d;
@warning-color: #faad14;
@normal-color: #d9d9d9;
@background-color: #f7f7f9;
@dark-color: rgb(51, 51, 51);
@text-color: rgba(0, 0, 0, 0.65);
@text-color-secondary: rgba(0, 0, 0, 0.45);


// --------     Form      -----------

@input-height-lg: 80px;
@font-size-lg: 24px;

// -------- Border radius -----------
@border-radius-base: 4px;
@border-radius-sm: 4px;

// -------- Border color -----------
@border-color-base: hsv(0, 0, 85%);
@border-color-split: rgba(0, 0, 0, 0.05);

// -------- Font family -----------
@font-family: 'Chinese Quote', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', 'Helvetica Neue',
    Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol';
@code-family: 'Anonymous Pro', 'SFMono-Regular', Consolas, 'Liberation Mono',
    Menlo, Courier, monospace;

// -------- Header -----------
//@layout-header-background: #ffffff;
@layout-header-height: auto;
@layout-header-padding: 0px 0px;

// -------- Footer -----------
@layout-footer-padding: 5px 50px;

@menu-dark-bg: #9fa09f;
@menu-dark-submenu-bg: #9fa0a0;

.ant-menu-light {
    background-color: @layout-body-background;
}

.ant-menu-submenu-selected {
    color: @primary-color;
}

.ant-menu-submenu>.ant-menu {
    background-color: @layout-header-background;
}


.linkHeader {
    padding: 0px 5px;
}

h4.ant-typography,
.ant-typography h4 {
    margin-bottom: 0;
}